name: "CI"

on:
  push:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: "Logar no docker hub"
        uses: docker/login-action@v3.3.0
        with:
          username: ${{secrets.DOCKER_HUB_LOGIN}}
          password: ${{secrets.DOCKER_HUB_PASSWORD}}
      - name: "Contrução da imagem e push para o docker hub"
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            caiovrodrigues/claribills:${{github.run_number}}
            caiovrodrigues/claribills:latest
